* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter Tight", system-ui;
  font-size: 1.6rem;
  font-size: 62.5%;
}

body {
  background-color: #14151d;
  color: white;

  display: grid;
  height: 100vh;
  place-items: center;
}

/* .schedule-container {
} */

#logo {
  display: inline-flex;
  padding: 1.2rem 2rem;
  align-items: center;
  gap: 0.8rem;

  border-radius: 0px 0px 1.2rem 0px;
  background: #2e2c30;

  color: #9282fa;

  position: absolute;
  top: 0;
  left: 0;
}

#logo h1 {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  height: 4.8rem;
  padding: 1.2rem 2.4rem;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 0.8rem;
  background: #9282fa;
  box-shadow: 0px 0px 4rem 0px rgba(146, 130, 250, 0.3);

  color: #050505;

  font-family: "Inter Tight";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;

  position: fixed;
  bottom: 3.3rem;
  right: 3rem;

  cursor: pointer;
}

.hide {
  display: none;
}
