.schedule > header:first-of-type {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}

.schedule > header h2 {
  font-family: "Inter Tight";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 4px;
}

.schedule > header p {
  color: #98959d;

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.schedule > header .input {
  display: flex;
  gap: 4px;
  padding: 12px;

  border-radius: 8px;
  border: 1px solid #3e3c41;

  align-items: center;
}
