.schedule-container {
  padding: 6.2rem 8rem 8rem 8rem;
}

.schedule {
  min-width: 71.1rem;
}

.schedule > header:first-of-type {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.schedule > header div {
  flex-grow: 1;
}

.schedule > header h2 {
  font-family: "Inter Tight";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 0.4rem;
}

.schedule > header p {
  color: #98959d;

  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.schedule > header .input {
  display: flex;
  gap: 0.8rem;
  padding: 1.2rem;

  border-radius: 0.8rem;
  border: 1px solid #3e3c41;

  align-items: center;
}

input[type="date"] {
  background-color: transparent;
  color: #98959d;
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  border: none;
  outline: none;
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  margin-left: -1rem;
  cursor: pointer;
  background: url("../assets/Icon.svg") no-repeat;
}

.input:focus-within {
  border: 1.5px solid #b8952e;
}

.schedule section {
  border-radius: 1rem;
  background: #23242c;
}

.schedule section + section {
  margin-top: 2rem;
}

.schedule-period > header {
  padding: 1.2rem 2rem;
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;

  border-bottom: 1px solid #2e2c30;
}

.schedule-period > header strong {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  flex: 1 0 0; /* permite o container ocupar todo o espaço */
  /* width: 100%; */
}

.schedule-period > header span {
  color: #98959d;
  text-align: right;

  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  /* white-space: nowrap; impede a quebra de linha*/
}

.period {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.2rem;
}

.period > li {
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-family: Inter;

  line-height: 1.6rem;
  font-size: 1.2rem;

  gap: 1.6rem;

  padding: 0 1.2rem;
  height: 4.8rem;

  border-bottom: 1px solid #2e2c30;
}

.period > li strong {
  line-height: 2.4rem;
  font-size: 1.4rem;
  width: 4.5rem;
}

.pet-name {
  font-weight: 600;
  line-height: 1.6rem;
}

.period > li div {
  max-width: 19.7rem;
}

.period > li div,
.service {
  flex-grow: 1;
}

.owner-name,
.service {
  color: #98959d;
  font-weight: 400;
}

.remove {
  background-color: transparent;
  border: none;
  color: #666;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 871px) {
  .schedule-container {
    padding: 2rem;
  }

  #logo {
    position: relative;
    top: 0; /* Ajusta a posição do topo */
    left: 0; /* Ajusta a posição da direita */
    margin-right: auto; /* Empurra a logo para a direita */
  }

  .schedule {
    min-width: 35rem;
    margin-bottom: 4.4rem;
  }

  .schedule > header:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .period > li {
    flex-wrap: wrap; /* Garante a quebra de linha */
    gap: 0;
    height: auto; /* Para permitir ajuste com o conteúdo */
    padding: 1.2rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .period > li div {
    display: inline-flex;
    align-items: center;
    margin-left: 1.2rem;
    gap: 0.4rem;
    min-width: 10rem;
  }

  .service {
    flex-basis: 100%; /* Faz o elemento ocupar 100% da largura e ir para a próxima linha*/
    margin-bottom: 0.8rem;
  }

  .remove {
    margin-left: auto;
    font-size: 12px;
    line-height: 16px;
  }

  #frame {
    display: flex;
    padding: 1.8rem 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;

    background: #23242c;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  }

  .button {
    position: unset;
  }
}
